.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floating-card {
  position: absolute;
  background-color: #e4d49cd8;
  padding: 16px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-icon {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  float: right;
}
