.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
  justify-items: center;
  margin-bottom: 5rem;
}

.project-item {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.icon {
  transition: transform 0.3s ease;
  opacity: 1;
}

.project-item:hover .icon {
  opacity: 0.1;
  transform: scale(1.1);
}

.project-details {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  pointer-events: none;
  white-space: nowrap;
  background-color: var(--transparency);
  min-width: 20rem;
}

.project-item:hover .project-details {
  opacity: 1;
}

.project-title {
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 600;
}
