@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  line-height: 1.3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --a: #E5E5E5;
  --b: #D1D1D1;
  --c: #d8d0c1;
  --d: #c8cdbc;
  --e: #f4d8cd;
  --f: #b4bdc5;
  --g: #a3999f;
  --h: #919098;
  --i: #9da596;
  --j: #849084;
  --k: #b39180;
  --l: #c6868e;
  --m: #d88474;
  --n: #AF5D63;
  --o: #969696;
  --p: #686a7d;
  --q: #4a5968;
  --r: #444750;
  --s: #2f3e50;
  --t: #444140;
  --u: #32373B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a: #32373B;
    --b: #444140;
    --c: #2f3e50;
    --d: #444750;
    --e: #4a5968;
    --f: #686a7d;
    --g: #969696;
    --h: #AF5D63;
    --i: #d88474;
    --j: #c6868e;
    --k: #b39180;
    --l: #849084;
    --m: #9da596;
    --n: #919098;
    --o: #a3999f;
    --p: #b4bdc5;
    --q: #f4d8cd;
    --r: #c8cdbc;
    --s: #d8d0c1;
    --t: #D1D1D1;
    --u: #E5E5E5;
  }
}

body {
  color: var(--a);
  background: linear-gradient(to bottom,
      transparent,
      var(--t)) var(--p);
}

a {
  color: var(--f);
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
}

a:hover,
a:active {
  color: var(--g);
}

ul {
  list-style: none;
}

button {
  padding: .25rem .6rem;
  border: 1px solid var(--d);
  color: var(--f);
  transition: border-color 1s var(--d);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--g);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--d);
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.titlewrap>.title {
  animation-name: revolution;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-and-out;
  animation-fill-mode: both;
  animation-play-state: running;
  transition: color 16s;
}

@keyframes revolution {
  0% {
    color: var(--g);
  }

  20% {
    color: var(--h);
  }

  40% {
    color: var(--d);
  }

  80% {
    color: var(--f);
  }

  100% {
    color: var(--l);
  }
}
