@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --a: #f1f2eeff;
  /*white-smoke*/
  --b: #f7edf0ff;
  /*lavendar-blush*/
  --c: #adb5bdff;
  /*french-gray*/
  --d: #7c99b4ff;
  /*air-superiority-blue*/
  --e: #37505cff;
  /*charcoal*/
  --f: #5f5b6bff;
  /*davys-gray*/
  --g: #a2999eff;
  /*rose-quartz*/
  --h: #a6a2a2ff;
  /*silver*/
  --i: #706f6fff;
  /*dim-gray*/
  --j: #7f7979ff;
  /*gray*/
  --k: #6c757dff;
  /*slate-gray*/
  --l: #3d3b3cff;
  /*jet-2*/
  --m: #32373bff;
  /*onyx*/
  --n: #1e000eff;
  /*licorice*/

  color-scheme: light dark;
  line-height: 1.2;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: dark) {
  :root {
    --a: #1e000eff;
    /*licorice*/
    --b: #32373bff;
    /*onyx*/
    --c: #3d3b3cff;
    /*jet-2*/
    --d: #7c99b4ff;
    /*air-superiority-blue*/
    --e: #37505cff;
    /*charcoal*/
    --f: #5f5b6bff;
    /*davys-gray*/
    --g: #a2999eff;
    /*rose-quartz*/
    --h: #a6a2a2ff;
    /*silver*/
    --i: #706f6fff;
    /*dim-gray*/
    --j: #7f7979ff;
    /*gray*/
    --k: #6c757dff;
    /*slate-gray*/
    --l: #adb5bdff;
    /*french-gray*/
    --m: #f7edf0ff;
    /*lavendar-blush*/
    --n: #f1f2eeff;
    /*white-smoke*/
  }
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--b);
  color: var(--m);
}

.full-size-background {
  height: 100vh;
  width: 100vw;
  background-image: url('/images/sun.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 0;
}

button {
  color: var(--e);
  background-color: var(--h);
  cursor: pointer;
  padding: 0.36rem 0.82rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 0.32rem;
  border-color: var(--e);
  transition: border-color 0.5s;
  z-index: 1;
}

button:hover {
  background-color: var(--k);
  color: var(--h);
  border: 1px solid var(--h);
  transition: all 180ms ease-in-out;
}

a {
  color: var(--h);
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

a:hover {
  color: var(--g);
  text-decoration: underline;
}

a:active {
  color: var(--d);
  outline: none;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
}

.card {
  background-color: var(--c);
  border: 3px double var(--i);
}

.proj-link {
  color: var(--m);
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
}

.div2 {
  grid-area: 3 / 1 / 4 / 2;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
}

@media (min-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 5fr;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 11;
    text-align: center;
  }

  .div2 {
    grid-area: 2 / 1 / 3 / 6;
  }

  .div3 {
    grid-area: 2 / 6 / 3 / 11;
  }
}


.titlewrap>.title {
  animation-name: revolution;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.645,
      0.045,
      0.355,
      1);
  animation-fill-mode: both;
  animation-play-state: running;
}

@keyframes revolution {
  0% {
    color: var(--f);
  }

  25% {
    color: var(--e);
  }

  50% {
    color: var(--d);
  }

  75% {
    color: var(--g)
  }

  100% {
    color: var(--k);
  }
}