@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --taupe: hsla(335, 5%, 47%, 1);
  --floral-white: hsla(60, 53%, 97%, 1);
  --platinum: hsla(90, 4%, 90%, 1);
  --beige: hsla(60, 47%, 88%, 1);
  --vanilla: hsla(46, 53%, 77%, 1);
  --slate: hsla(208, 18%, 30%, 1);
  --lion: hsla(36, 48%, 56%, 1);
  --moonstone: hsla(194, 31%, 59%, 1);
  --charcoal: hsla(223, 15%, 24%, 1);
  --jet: hsla(0, 1%, 24%, 1);

  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color-scheme: light dark;
  font-family: 'Inter Variable', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html,
body {
  background-color: var(--beige);
  color: var(--charcoal);
  padding: 0.25em;
  margin: 0.5em auto;
  font-weight: 300;
}

main {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--moonstone);
  color: var(--beige);
  background-image: url('./assets/sun.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: var(--slate);
}

a:hover {
  color: var(--moonstone);
  cursor: pointer;
}

.title {
  text-shadow: 0.05em 0.05em 8em var(--taupe);
}

.homelink {
  font-weight: 300;
  text-decoration: none;
  color: var(--beige);
  text-shadow: 0.05em 0.05em 8em var(--taupe);
}

.homelink:hover {
  color: var(--slate);
  cursor: pointer;
}

.name {
  color: var(--beige);
  line-height: 1.6;
  text-shadow: 0.05em 0.05em 8em var(--taupe);
}

label {
  opacity: 0;
}

.project_icon:hover + .label {
  opacity: 1;
}

img {
  box-shadow: 0.25em 0.25em 1em var(--jet);
  -webkit-box-shadow: 0.25em 0.25em 1em var(--jet);
  -moz-box-shadow: 0.25em 0.25em 1em var(--jet);
}

@media (prefers-color-scheme: light) {
}

.fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
