@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --platinum: hsla(90, 4%, 90%, 1);
  --beige: hsla(60, 47%, 88%, 1);
  --dogwood: hsla(17, 44%, 86%, 1);
  --slate: hsla(208, 18%, 30%, 1);
  --moonstone: hsla(194, 31%, 59%, 1);
  --jet: hsla(0, 1%, 24%, 1);

  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  color-scheme: dark light;
  font-family: 'Inter Variable', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html,
body {
  background-color: var(--platinum);
  color: var(--jet);
  padding: 0.25em;
  margin: 0.5em auto;
  font-weight: 300;
}

main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dogwood);
  color: var(--jet);
  background-image: url('./assets/sun.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: var(--jet);
}

a:hover {
  color: var(--moonstone);
  cursor: pointer;
}

.homelink {
  font-weight: 300;
  text-decoration: none;
  color: var(--jet);
}

.homelink:hover {
  color: var(--moonstone);
  cursor: pointer;
}

.name {
  color: var(--jet);
  line-height: 1.6;
}

label {
  opacity: 0;
}

.project_icon:hover + .label {
  opacity: 1;
}

.adventure:hover {
  color: var(--dogwood);
}

.bioImage {
  border: 4px double var(--dogwood);
}

.fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: var(--jet);
    color: var(--platinum);
  }

  main {
    background-color: var(--jet);
    color: var(--beige);
  }


a {
  color: var(--beige);
}

a:hover {
  color: var(--moonstone);
}

.homelink {
  color: var(--beige);
}

.homelink:hover {
  color: var(--moonstone);
}

.name {
  color: var(--beige);
}
  
}